body {
    background-color:  rgba(11, 36, 77);
  }

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    /* font-family: american typewriter, Courier, 'Trebuchet MS', Times, serif; */
    /* font-family:'Courier New', Courier, monospace; */
    font-family: Lucida Console, sans-serif;
    color: beige;
    /* padding: 50 */
    
  }

p {
    color: navy;
    margin-left: 20px;
    padding: 5px;

  }

#header
{
    width: 100%;
    background-color: rgba(11, 36, 77);
    /* min-height: 100px; */
    padding: 50px;
}

#name-part
{
    width: 40%;
    float: left;
    background-color: rgba(11, 36, 77);
    /* padding: 20px; */
    font-size: 40px;
    /* text-align: center; */
    margin-left: 50px;
}

#main-content {
    width: 100%;
    /* background-color: aquamarine; */
    /* min-height: 400px; */
    /* padding: 40px; */
    padding-top: 45px;
}

#headshot {
    background-color: rgba(11, 36, 77);
    float: left;
    /* padding: 40px; */
    width: 40%;
    /* margin: auto; */

}

#head-shot-img {
    border-radius: 8%;
    width: 300px;
    margin: auto;
    display: block;
}

#intro {
    background-color: rgba(11, 36, 77);
    float: right;
    padding-right: 100px;
    width: 60%;
    font-size: 15px;
}

.clearfix::after
{
    content: "";
    display: block;
    clear: both;
}


/* Style the navigation menu */
.navbar {
    /* width: 400px; */
    background-color: rgba(11, 36, 77);
    /* padding: 28px; */
    float: right;
    margin-right: 50px;
  }
  

/* Navigation links */
.navbar a {
    float: left;
    text-decoration: wavy;
    font-size: 20px;
    /* width: 25%; Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    padding: 10px;
    
  }

  /* Add a background color on mouse-over */
.navbar a:hover {
    color: aqua;
    
  }
  
  /* Style the current/active link
  .navbar a.active {

    /* background-color: skyblue; */
    /* margin-bottom: 5px;
  } 
  */
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      /* text-align: left; If you want the text to be left-aligned on small screens */
    }
  }